
#corpo{
  background-color: black;
  margin: 1%;
  padding: 1%;
  box-sizing: border-box;
}

#titulo {
  color: #fff;
  text-align: center;
}



 .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }

  .card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }














